@page
@model ProductModel

<script></script>
<h1>Products</h1>

<table class="records" class="text-center">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Price</th>
            <th>Add</th>
            <th>Quantity</th>
        </tr>
    </thead>

    <tbody>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.YearPublished</td>
            <td>@product.Price</td>
            <td><button onclick="addToBasket('@product.Id')">Add</button></td>
            <td class = "quantity" data-id="@product.Id"></td>
        </tr>
    }
    </tbody>
</table>